body {
  background-color: blanchedalmond;
}
.articleTitle {
  padding-bottom: 20px;
  width: 90%;
}
.sortSomeStuff form {
  width: 350px;
}
.sortSomeStuff textarea {
  border: 2px solid black;
  width: 90%;
}
.nameLabel {
  border: 2px solid black;
}
.commentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deleteButton {
  width: 30%;
  padding: 5px;
  margin-bottom: 20px;
}
#deleteButton:hover {
  background-color: sandybrown;
}

#postCommentButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  padding: 5px;
}
#postButton:hover {
  background-color: sandybrown;
}
.fullArticle {
  display: flex;
  flex-direction: column;
  margin: 125px auto -135px;
}
.fullArticle a {
  text-decoration: none;
  text-transform: uppercase;
}
.articleTop {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.articleTop a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
}
.pagination {
  display: flex;
  align-self: center;
  align-items: center;
}
.pagination button {
  height: 30%;
  width: 55%;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90%;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  background-color: rgb(157, 168, 140);
  border: 6px double orange;
}
.article em {
  width: 90%;

  font-size: 16px;
  letter-spacing: -0.2px;
  word-spacing: -0.2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-align: justify;

  text-transform: none;
}
.articleBody {
  margin-bottom: 20px;
}
.articleCommentSection {
  background-color: blanchedalmond;
}
.voteArticle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
}
.addComment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#postCommentButton {
  width: 125px;
}
.upArrow img {
  height: 20px;
  width: 20px;
}
.downArrow img {
  height: 20px;
  width: 20px;
}
.upArrow img:disabled {
  background-image: url('/public/img/redcross.jpg');
  background-size: cover;

  height: 20px;
  width: 20px;
}

.downArrow img:disabled {
  background-image: url('/public/img/redcross.jpg');
  background-size: cover;
  height: 20px;
  width: 20px;
}

.articleBottom {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
}

.authorAndDate {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.author {
  font-weight: bold;
}
.date {
  font-weight: bold;
}
.votes {
  font-weight: bold;
}

@media only screen and (min-width: 769px) {
  .articleTitle {
    padding-bottom: 30px;
  }
  .articleBody {
    margin-bottom: 30px;
  }
  .fullArticle {
    display: flex;
    flex-direction: column;
  }
  .article {
    border: 6px double orange;

    align-items: center;
    justify-content: center;
    margin: 150px auto;
    margin: auto;
    height: 30%;
    width: 70%;

    text-decoration: none;
  }
  .upArrow img {
    height: 20px;
    width: 20px;
  }
  .downArrow img {
    height: 20px;
    width: 20px;
  }
  .upArrow img:disabled {
    background-image: url('/img/redcross.jpg');
    height: 20px;
    width: 20px;
  }

  .downArrow img:disabled {
    background-image: url('/img/redcross.jpg');
    height: 20px;
    width: 20px;
  }

  .articleBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
