.articleTitle {
  padding-bottom: 20px;
}

#deleteButton {
  width: 30%;
  padding: 5px;
  margin-bottom: 20px;
}
#deleteButton:hover {
  background-color: sandybrown;
}

#postCommentButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  padding: 5px;
}
#postButton:hover {
  background-color: sandybrown;
}
.fullArticle {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}
.fullArticle a  {
  text-decoration: none;
  text-transform: uppercase;
}
.articleTop {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
  -webkit-box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  background-color: rgb(157, 168, 140);
}
.articleBody {
  margin-bottom: 20px;
}
.voteArticle {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
}
.addComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* text-align: justify; */
}
#postCommentButton {
  border: 2px solid orange;
}
.upArrow img {
  height: 20px;
  width: 20px;
}
.downArrow img {
  text-align: justify;
  text-align: justify;
  text-align: justify;

  text-align: justify;
  height: 20px;
  text-align: justify;

  width: 20px;
}
.upArrow img:disabled {
  background-image: url('/public/img/redcross.jpg');
  height: 20px;
  width: 20px;
}

.downArrow img:disabled {
  background-image: url('/public/img/redcross.jpg');
  height: 20px;
  width: 20px;
}

.foodImg {
  height: 250px;
  width: 200px;
}
.articleBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid orange;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
}
.author {
  font-weight: bold;
}
.date {
  font-weight: bold;
}
.votes {
  font-weight: bold;
}
button:disabled,
button[disabled='disabled'] {
  background-image: url('/public/img/redcross.jpg');
}

@media only screen and (min-width: 769px) {
  .articleTitle {
    padding-bottom: 30px;
  }
  .articleBody {
    margin-bottom: 30px;
  }
  /* .fullArticle {
    display: flex;
    flex-direction: column;
  } */
  .article {
    border: 2px solid orange;

    align-items: center;
    justify-content: center;
    margin: 150px auto;
    /* margin-left: 230px; */
    /* height: 30%; */
    width: 70%;

    text-decoration: none;
  }
  .upArrow img {
    height: 20px;
    width: 20px;
  }
  .downArrow img {
    height: 20px;
    width: 20px;
  }
  .upArrow img:disabled {
    background-image: url('/public/img/redcross.jpg');
    height: 20px;
    width: 20px;
  }

  .downArrow img:disabled {
    background-image: url('/public/img/redcross.jpg');
    height: 20px;
    width: 20px;
  }
  .foodImg {
    height: 480px;
    width: 720px;
  }
  .articleBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid orange;
  }
}
