body {
  background-color: blanchedalmond;
}
.commentTop {
  border: 2px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  font-style: bold;
  width: 90%;
}
.commentTop p {
  font-weight: 900;
  /* border: 2px solid red; */
}

.commentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 150px;
}

.voteOnComments {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentsList {
  display: flex;
  margin: 10px auto;

  /* justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify; */
}
.commentsCommentBody {
  width: 90%;
  font-style: italic;
}

.commentsList li {
  border: 6px double orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
  -webkit-box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
  background-color: rgb(157, 168, 140);
  margin: 50px auto;
  width: 90%;
  height: 5;
  color: black;
  padding: 0px;

  text-decoration: none;
}
.deleteButton {
  margin: 10px auto;
  padding: 5px;
}

@media only screen and (min-width: 769px) {
  .commentsList {
    display: flex;
  }
  .commentsList li {
    display: flex;
    flex-direction: column;
    margin: 125px auto;
    width: 70%;
  }
}
