/* * {
    margin: 10;
    padding: 0;
  }

  .App {
    text-align: center;
  }

  body {
    background-color: blanchedalmond;
  }

  .title {
    color: white;
    float: left;
  }
  .n {
    color: red;
  }
  .articleHeader {
    color: black;
  }

  header {
    display: inline-block;
    background-color: black;
    width: 100%;
    border: 2px solid red;
  }

  .comments {
    float: right;
  }
  .votes {
    float: left;
  }
  .author {
    float: left;
  }
  .date {
    float: left;
  }
  .searchbar {
    float: right;
  }
  .articlePost {
    border: 2px solid blue;
  }
  .articleBottom {
    border: 3px solid red;
    width: 100%;
    display: inline-block;
  }
  .articlesList li {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'articleTitle'
      'articleAuthor';
    margin: 20px auto 0;
    width: 70%;
    height: 5;
    color: black;
    padding: 0px;

   
    text-decoration: none;
  }
  .article {
    display: inline-block;
    height: 50%;
    width: 100%;
    align-items: center;
    -webkit-box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 11px -6px 24px 8px rgba(0, 0, 0, 0.75);
    background-color: rgb(157, 168, 140);
  }
} */ */
