.App {
  text-align: center;
}

body {
  background-color: sandybrown;
}

.navbar {
  border-bottom: 3px solid black;
}

.searchbar {
  display: block;
}

.articleList {
  display: inline;
  text-decoration: none;
  margin: 10px;
  padding: 0;
}
