* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
body {
  font-family: Georgia, serif;
  background-color: blanchedalmond;
}
.sort {
  display: inline-flex;
}
button {
  border: 5px solid black;
  border-radius: 0.75em;
  padding: 0.7em 1.25em;
  margin: 1em 0.5em 0;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background-color: orange;
}
.title {
  color: white;
}
.n {
  color: red;
}
.voteButton {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: justify;
}
.errorMsg {
  margin-top: 400px;
}
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  background-color: black;
  width: 100%;
}
.headerTop {
  display: flex;
  flex-direction: column;
}
.loggedIn {
  color: white;
}
.selectBox {
  display: block;
}
.sort {
  margin-top: 10px;
}

@media only screen and (min-width: 769px) {
  .dropDown {
    align-items: center;
    width: 20%;
  }
  header {
    height: 10%;
  }
}
