/* * {
  box-sizing: border-box;
}

.fullDropDown {
  border: 3px solid white;
  margin-top: 44px;
  margin-right: -32px;
  float: right;
}

.select-box--box {
  border: 2px solid red;
  position: absolute;
}

.select-box--container {
  display: grid;
  background-color: whitesmoke;
  height: 30px;
  border: 1px solid #aaa;
  width: 100%;
  margin: 0;
  padding: 0;
}

.select-box--selected-item {
  border: 2px solid blue;
  display: inline-block;
  height: 100%;
  width: 100;
  padding: 4px 12px;
  vertical-align: middle;
}

.select-box--items div {
  background-color: whitesmoke;
  border: 2px solid pink;

  border-bottom: 1 px solid #ddd;
  border-left: 1 px solid #ddd;
  border-right: 1 px solid #ddd;
  padding: 6px;
  padding-left: 20px;
}

.select-box--arrow {
  border: 2px solid orange;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #aaa;
  position: absolute;
  right: 0;
}

.select-box--items div.selected {
  background-image: url('/public/green_tick.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px 8 px;
}

.select-box--arrow-down {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid#fff;
}

.select-box--arrow-up {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid#fff;
} */
